<!doctype html>
<html>
    <head>
    </head>
    <body>
        <img src="img25708.gif">
        <form action="/" method="POST">
            <input name="username" type="text">
            <input type="submit" value="push">
        </form>
    </body>
</html>